@charset "utf-8";
html,body,div,span,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,q,dl,dt,dd,ol,ul,li,form,table,tbody,tfoot,thead,tr,th,td{
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  line-height: 1;
}
body{
  font-size: 12px;
  margin: 0;
  line-height: 1.5;
  /*font-family: "ＭＳ Ｐ明朝","MS PMincho","ヒラギノ明朝 Pro W3","Hiragino Mincho Pro","Droid Sans";*/
  font: 12px "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3",Osaka,メイリオ,Meiryo,"ＭＳ Ｐゴシック","MS PGothic", arial, sans-serif;
  color: #FFF;
  background: black url("../img/s5_bg_body_repeat.png") repeat;
}
table{
  white-space: nowrap;
  border-collapse: separate;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  line-height: 1.0;
  margin-bottom: 10px;
  background-color: #f2f1dd;
  border-top: 1px solid #76601d;
  border-bottom: 1px solid #76601d;
  border-right: 1px solid #76601d;
}

th{
  border-left: 1px solid #76601d;
  border-bottom: 1px dotted #76601d;
  padding: 5px 8px;
  color: #300;
  text-align: center;
  vertical-align: middle;
  background-color: #e0dcc1;
  font-weight: bold;
}
td{
  border-left: 1px solid #76601d;
  border-bottom: 1px dotted #76601d;
  padding: 4px 8px;
  text-align: center;
  color: #300;
  line-height: 1.5;
  vertical-align: middle;
}
td.l{
  text-align: left;
}
input.para{
  font-size: 8px;
  width: 60px;
  height: 18px;
}
.gray {
  color:lightgray;
}

h1{
  border: 2px solid #7b641e;
  margin-top: 8px;
  margin-bottom: 15px;
  font-size: large;
  background: #000;
  color: #FFF;
  padding: 8px;
}