@charset "utf-8";
body{
  margin-left: 0;
  margin-right: 0;
  color: #FFF;
  font: 12px "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3",Osaka,メイリオ,Meiryo,"ＭＳ Ｐゴシック","MS PGothic", arial, sans-serif;
  background: black url("../img/s5_bg_body_repeat.png");
}
a{
  color: #FFF;
  font-size: 8px;
}

table{
  white-space: nowrap;
  border-spacing: 1px;
  margin-bottom: 5px;
  background-color: #76601d;
  text-align: center;
}

th{
  color: #300;
  background-color: #e0dcc1;
  text-align: center;
  font-weight: bold;
  margin: 1px;
  padding: 2px 3px;
}
td{
  color: #300;
  background-color: #f2f1dd;
  margin: 1px;
  padding: 2px 3px;
}
td.l{ text-align: left; }

input.para{
  font-size: 8px;
  width: 60px;
  height: 18px;
}
.gray {
  color: lightgray;
}

h1{
  border: 2px solid #7b641e;
  margin-top: 8px;
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 700;
  background: #000;
  color: #FFF;
  padding: 8px;
}